import(eha, lme4, msm, mvmeta, optextras, optimx, stats, survival)
importFrom(copula,
           tau, claytonCopula, gumbelCopula, plackettCopula)
importFrom(MASS, 
           mvrnorm)
importFrom(SurvCorr, 
           survcorr)
importFrom(parfm, 
           parfm)
importFrom(graphics,
           plot, segments)
export(convals,
       plotsson,
       poissonize,
       simData.mx,
       simData.cc,
       simData.re,
       surrosurv)
S3method(convergence, 
         surrosurv)
S3method(print, conv)
S3method(print, surrosurv)